[submodule "pi-quota-display"]
	path = pi-quota-display
	url = https://github.com/fxwin/pi-quota-display.git
	branch = main
[submodule "pi-web-search"]
	path = pi-web-search
	url = https://github.com/fxwin/pi-web-search.git
	branch = main
