[submodule "quota-display"]
	path = quota-display
	url = https://github.com/fxwin/quota-display.git
	branch = main
[submodule "pi-web-search"]
	path = pi-web-search
	url = https://github.com/fxwin/pi-web-search.git
	branch = main
